{% extends 'base.html' %}
{% block title %} Search result {% endblock %}
{% block content %}
<div class="container">
		<br><br><br>
<h4>custom order</h4>
<ul>
<li>Choose from featured stores</li>
<li>choose items of your choice</li>
<li>send the links/screenshots to us by clicking on the ”Send Order“</li>
<li>we send quote</li>
<li>you make payment</li>
<li>we finally deliver to your Nigerian Address</li>
</ul>
<br>
<hr>
<br>
<h4>Shipping</h4>
<ul>
<li>Fill in the order form</li>
<li>select route "UK to Nigeria" or "Nigeria to UK"</li>
<li>we send quote</li>
<li>you make payment</li>
<li>we deliver to your destination Address</li>
</ul>

	<br><br><br>
</div>
{% endblock %}
