{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="col-sm-12">
<div class="card bg-dark text-white">
  <img src="https://res.cloudinary.com/kabiru/image/upload/v1564193906/london.jpg" class="card-img img-fluid" alt="...">
  <div class="card-img-overlay">
    <h2 class="card-title" style="font-weight:bold;">Buy from UK. get it in Nigeria</h2>
  </div>
</div>


<br><br>
<h3 style="font-weight:bold;"><center>Featured Stores</center></h3>
<hr>
<div class="row">
	{% for store in object_list %} 
	<div class="col-sm-3"><center>
		<div class="card"style="width: 18rem;">
			<a href="{{store.url}}"><img src="/media/{{store.logo}}" class="card-img-top img img-fluid img-responsive" alt="{{store.name}}">
			</a>
		</div>
	</center>
	<br>
</div>
{% endfor %}
</div>
</div>

{% endblock %}
